.cardset ul {
    display: grid;
    list-style: none;
    margin: 0;
    padding: 0;
}

.cardsetview {
    padding-top: 5px;
    padding-bottom: 5px;
    display: grid;
    grid-template-columns: auto 1fr;
}

.sidebar {
    background-color: var(--color-2);
    position: sticky;
    top: 0;
    height: 100vh;
    box-sizing: border-box;
    border-radius: 1em;
}

.createCard {
    margin: 1em;
    background-color: #ffffff;
    border: 1px solid black;
    text-align: center;
    color: #ccc;
}

.createCard:hover {
    color: #000;
}

.createCard > div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 30%;
    margin: auto;
}

.createCard i {
    font-size: 4em;
}
