.fieldcontroller {
    border: 0;
    padding: 1px;
}

.fieldcontroller:hover {
    border: 1px dotted gray;
    padding: 0px;
}

.fieldcontrolleractivefield {
    border: 1px dotted #90ff90;
    padding: 0;
}

.fieldcontrolleractive {
    border: 1px dotted hotpink;
    padding: 0;
    z-index: 5;
}

.fieldcontrolleractive:hover {
    border: 1px dotted pink;
}

.controller {
    visibility: hidden;
}

.fieldcontroller:hover .controller {
    visibility: visible;
}

.touchactivated .controller {
    visibility: visible;
}
