.view {
    height: 98vh;
    display: grid;
    grid-template-rows: auto auto auto auto 1fr;
}

.disabled i {
    color: #cccccc;
}

.view input[type='text'] {
    width: 9em;
}

.images {
    overflow: scroll;
}

.images img {
    width: 6.5em;
    margin-right: 0.25em;
    margin-top: 0.25em;
    height: auto;
}
