.view {
    height: 98%;
    max-height: 98%;
    display: grid;
    grid-template-rows: auto auto auto 1fr;
}

.disabled i {
    color: #cccccc;
}

.view input {
    width: 9em;
}

.images {
    overflow: scroll;
}

.image img,
.images img {
    width: 6.5em;
    margin-right: 0.25em;
    margin-top: 0.25em;
    height: auto;
}
