.App {
    margin: 1em;
}

.App-header {
    color: white;
}

.App-header h1 {
    font-size: 2em;
    padding: 0.5em 0 0.5em 0;
    margin: 0;
}

.App-header p {
    font-size: 1em;
    padding: 0.5em 0 0.5em 0;
    margin: 0;
}

.form {
    width: 20em;
    display: grid;
    grid: auto-flow / 1fr;
}

.form input {
    margin: 0.5em;
}

.form label {
    margin: 0.5em;
    margin-bottom: 0;
}

.form input[type='submit'],
.form button {
    background: none;
    margin: 0.5em;
    border-radius: 0.5em;
    background-color: var(--color-2);
    padding: 0.25em;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
}

.form input[type='submit']:hover,
.form button:hover {
    background-color: var(--color-3);
}
