body {
    background-color: #fffefa;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --color-1: #fffefa;
    --color-2: #ebf3fa;
    --color-3: #faebef;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.form {
    width: 20em;
    display: grid;
    grid: auto-flow / 1fr;
}

.form input {
    margin: 0.5em;
}

.form input[type='submit'] {
    background: none;
    border-radius: 0.5em;
    background-color: var(--color-2);
    padding: 0.25em;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
}

.form input[type='submit']:hover {
    background-color: var(--color-3);
}
